
<div class="container">
  <form>
    <div class="name">
      <div class="input-group">
        <i class="fas fa-user iconUser"></i>
        <input type="text" id="nom" name="nom" required value="{{valueNom}}">
      </div>

      <div class="input-group">
        <i class="fas fa-user iconUser"></i>
        <input type="text" id="prenom" name="prenom" required value="{{valuePrenom}}">
      </div>
    </div>


    <div class="info">

      <div class="input-group">
        <i class="fa-regular fa-envelope"></i>
        <input type="email" id="email" name="email" required value="{{valueEmail}}">
      </div>

      <div class="input-group">
        <i class="fa-solid fa-phone"></i>
        <input type="email" id="phone" name="phone" required value="{{valuePhone}}">
      </div>

      <div class="input-group">
        <i class="fa-solid fa-location-dot"></i>
        <input type="email" id="address" name="address" required value="{{valueAdresse}}">
      </div>

      <div class="input-group">
        <i class="fa-solid fa-location-dot"></i>
        <input type="email" id="postal" name="postal" required value="{{valueCodeP}}">
      </div>

      <div class="input-group">
        <i class="fa-solid fa-location-dot"></i>
        <input type="email" id="ville" name="ville" required value="{{valueVille}}">
      </div>


      <div class="input-group">
        <i class="fa-regular fa-calendar-days"></i>
        <input type="text" id="dob" name="dob" required value="{{valueDate}}">
        <!-- Champ caché pour stocker la valeur de la date -->
        <input type="date" id="dob-hidden" name="dob" required style="display: none;">
      </div>
    </div>

    <div class="input-group">
      <i class="fa-solid fa-address-card"></i>
      <select id="status" name="status" required>
        <option value="active">Status</option>
        <option value="inactive">Suspect</option>
        <option value="inactive">Leads</option>
        <option value="inactive">Prospect</option>
        <option value="inactive">Acheteur</option>
        <option value="inactive">Client</option>
        <option value="inactive">Ambassadeur</option>
      </select>
    </div>

    <button type="submit" class="submit-button">Valider</button>
  </form>

</div>

