<section id="charts">
  <div class="bubble big">
    <div class="overall">
      <div class="chart-head">
        <div class="buttons">
          <div class="filter-infos">
            <select (change)="onEntrepriseSelect()" [(ngModel)]="entrepriseId">
              <!-- Options pour différentes entreprises -->
              <option *ngFor="let entreprise of entreprises" [value]="entreprise.id">
                {{ entreprise.nom }}
              </option>
            </select>
          </div>
          <div class="filter-infos">
            <select (change)="onChartTypeSelect($event)" [(ngModel)]="selectedChartType">
              <option *ngFor="let chartType of chartTypes" [value]="chartType">
                {{ chartType }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="chart-container">
        <div class ="chart-display">
          <canvas id="myChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</section>
