<section id="charts">
  <div class="bubble big">
    <div class="overall">
      <div class="chart-head">
        <div class="buttons">
          <div class="filter-infos">
            <select>
              <option value="defaut">Filtres</option>
              <option value="opt">Option 1</option>
              <option value="opt">Option 2</option>
              <option value="opt">Option 3</option>
              <option value="opt">Option 4</option>
              <option value="opt">Option 5</option>
              <option value="opt">Option 6</option>
            </select>
          </div>

        </div>
      </div>

      <div class="chart-container">
        <div class="chart-display">
          <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart> 
        </div>
      </div>
    </div>
  </div>
</section>
