$mainColor : #43264f;
$iconColor : #F3F3F3;
$blueBtns : #02BBE9;
$orangeBtnHover : #FB6316;
$violetDashboardInput : #5F366F;
$mainBlack : #111;

$changeBlackDashboardInput: #474747;

$changeGreenMainColor : #2E5F36;
$changeGreenDashboardInput : #388843;

$changeBlueMainColor : #263363;
$changeBlueDashboardInput : #374C94;

