@import "../../../styles";


.container {
    background-color: $mainColor;
    color: $iconColor;
    padding: 20px;
    border-radius: 10px;
    max-width: 50rem;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 930px){
      margin: 10px;
    }
  
    form {
      margin-top: 0;
      
      .name{
        display: flex;
        gap: 15px;
        margin-top: 15px;

        @media (max-width: 700px){
          display: block; 
        }
      }

      .info{
        display: flex;
        gap: 15px;

        @media (max-width: 700px){
          display: block; 
        }
      }
      
      .input-group {
        position: relative;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        margin-bottom: 25px;
      
        i {
          position: absolute;
          padding: 10px;
        }

        ::placeholder{
            color: $iconColor;
            font-style: italic;
        }
    
        input,
        select {
          width: 100%;
          padding: 10px;
          box-sizing: border-box;
          background-color: $violetDashboardInput;
          color: $iconColor;
          border: none;
          border-radius: 5px;
          margin-top: 5px;
          height: 40px;
          border-radius: 1rem; 
          padding: 0 2rem;
          display: flex;
          min-width: 250px;
          box-shadow: 4px 4px 4px 0px #00000032;
          // font-weight: bold;

          @media (max-width: 700px){
            min-width: 10px; 
          }
        }
      }
    
      .submit-button {
        background-color: $blueBtns;
        color: $iconColor;
        padding: 9px 90px;
        border: none;
        border-radius: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-bottom: 20px;
        font-size: 15px;
        box-shadow: 4px 4px 4px 0px #00000032;

        @media (max-width: 700px){
          padding: 9px 30px; 
        }
    
        &:hover {
          background-color: $orangeBtnHover;
        }
      }
    }
  
    p {
      margin-top: 15px;
      margin-bottom: 10px;
      font-size: 14px;
      text-align: center;

       @media (max-width: 700px){
          font-size: 10px; 
        }

      &:hover{
        text-decoration: underline;
      }
    }
}