<body>

    <div>
        <img src="" alt="exit">
    </div>

    
    <div class="form-connexion">
        <div class="logo">
            <img src="assets/img/logo.png" alt="logo">
        </div> 

        <h1>Connexion</h1>
        
        <form method="post" action="form.component.ts">

            <input type="email" name="email" id="email" required><br><br>
            <input type="password" name="password" id="password" required><br><br>
            
            <input type="submit" value="Se connecter" class="button-connexion">
        </form>
        
        <p>
            mot de passe oublié ?
            <link rel="stylesheet" href="">
        </p>
        
    </div>

</body>


