<body>

    
    <div class="form-connexion">
        <div class="logo">
            <img src="assets/img/logo.png" alt="logo">
        </div> 
            
        <h1>Connexion</h1>
            
        <form method="post" action="form.component.ts">
                
            <div class="input">
                <input type="email" name="email" id="email" required><br><br>
                <input type="password" name="password" id="password" required><br><br>
            </div>
            
            <input type="submit" value="Se connecter" class="button-connexion">
        </form>
        
        <a href="">Mot de passe oublié ?</a>
    </div>
    
</body>


