<section id="header">
  <div class="wrap-header">
    <div class="wrap">
      <div class="time">
        <span class="today">
          {{today | date:'EEEE'}} {{today | date:'d'}} {{today | date:'MMMM'}}
        </span>
      </div>
    </div>
  
    <div class="title">
      <h2>Titre du Dashboard</h2>
    </div>
  
    <div class="role">
      <p>rôle</p>
    </div>
    
    <div class="all-icon">
        <i class="fa-regular fa-envelope"></i>
        <i class="fa-regular fa-bell"></i>
        <i class="fa-solid fa-palette"></i>
    </div>

  </div>
</section>
