<div class="container">
  <form>
    <div class="name">
      <div class="input-group">
        <i class="fas fa-user iconUser"></i>
        <input type="text" id="numero" name="numero" required placeholder="Numero">
      </div>

      <div class="input-group">
        <i class="fas fa-user iconUser"></i>
        <input type="date" id="date" name="date" required placeholder="Date">
      </div>
    </div>

    <div class="info">
      <div class="input-group">
        <i class="fa-regular fa-envelope"></i>
        <input type="text" id="paiement" name="paiement" required placeholder="Prix de la commande">
      </div>

      <div class="input-group">
        <i class="fa-regular fa-envelope"></i>
        <input type="text" id="adresse" name="adresse" required placeholder="Adresse">
      </div>

      <div class="input-group">
        <i class="fa-regular fa-envelope"></i>
        <input type="text" id="code_postal" name="code_postal" required placeholder="Code Postal">
      </div>

      <div class="input-group">
        <i class="fa-regular fa-envelope"></i>
        <input type="text" id="ville" name="ville" required placeholder="Ville">
      </div>

      <div class="input-group">
        <i class="fa-solid fa-address-card"></i>
        <select id="status" name="status" required>
          <option value="active">En cours</option>
          <option value="inactive">Effectué</option>
          <option value="inactive">Annulé</option>
        </select>
      </div>

    </div>


    <button type="submit" class="submit-button">Valider</button>
  </form>

</div>

