<section id="infos-utiles">
  <div class="bubble medium">
    <div class="overall">
      <div class="title-container">

        <div class="buttons">
          <div class="filter-infos">
            <select>
              <option value="defaut">Filtres</option>
              <option value="opt">Option 1</option>
              <option value="opt">Option 2</option>
              <option value="opt">Option 3</option>
              <option value="opt">Option 4</option>
              <option value="opt">Option 5</option>
              <option value="opt">Option 6</option>
            </select>
          </div>
        </div>

        <div class="title-utile">
          <h2 class="title">{{infosTitre}}</h2>
        </div>
      </div>

      <div class="infos-container">
        <ul class="list-infos">
          <li>Information utile numéro 1</li>
          <li>Information utile numéro 2</li>
          <li>Information utile numéro 3</li>
          <li>Information utile numéro 4</li>
        </ul>
      </div>
    </div>
  </div>
</section>


