<div class="container">
  <form>
    <div class="name">
      <div class="input-group">
        <i class="fas fa-user iconUser"></i>
        <input type="text" id="numero" name="numero" required value="{{valueNumero}}">
      </div>
    </div>

    <div class="info">
      <div class="input-group">
        <i class="fas fa-user iconUser"></i>
        <input type="date" id="date" name="date" required value="{{valueDate}}">
      </div>

      <div class="input-group">
        <i class="fas fa-user iconUser"></i>
        <input type="text" id="paiement" name="paiement" required value="{{valuePaiement}}">
      </div>

      <div class="input-group">
        <i class="fas fa-user iconUser"></i>
        <input type="text" id="code_postal" name="code_postal" required value="{{valueCodep}}">
      </div>

      <div class="input-group">
        <i class="fas fa-user iconUser"></i>
        <input type="text" id="adresse" name="adresse" required value="{{valueAdresse}}">
      </div>

      <div class="input-group">
        <i class="fas fa-user iconUser"></i>
        <input type="text" id="ville" name="ville" required value="{{valueVille}}">
      </div>

    </div>

    <button type="submit" class="submit-button">Valider</button>
  </form>

  <p>Après validation, l'employé recevra un mail pour modifier son mot de passe.</p>
</div>
