<section id="employe-infos">
  <div class="bubble big">
    <div class="overall">
      <div class="view-contains">
        <div class="view-head">
          <div class="employe-perso">
            <div class="username">
              <h2>{{ getUserName() }}</h2>
            </div>

            <div class="birthday">
              <h3>16/08/1996</h3>
            </div>

            <span class="mail">chris@watchme.com</span>
          </div>
          <div class="round-img">
            <img src="{{userPhoto}}" alt="image de l'utilisateur">
          </div>
        </div>

        <div class="user-role">
          <span>Rôle</span>
        </div>
      </div>
    </div>
  </div>
</section>
