@import "../../../styles";

.card-commande {
    margin: 20px;
    background: $mainColor;
    color: $iconColor;
    border-radius: 1rem;
    width: 85%;
    margin: 0 auto;
    padding: 1.5rem;
    
    .head-commande{
        display: flex;
        justify-content: space-between;
        padding: 1rem;

        @media (max-width: 500px){
            display: flex;
            flex-direction: column;
            gap: 30px;
          }

        .button{
            @media (max-width: 700px){
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                gap: 10px;
              }
           
            .filter-button{
                background-color: $blueBtns;
                color: $iconColor;
                width: 7rem;
                border-radius: 1rem; 
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
                height: 1.5rem;
                border: none;

                @media (max-width: 700px){
                    width: 5rem;
                  }

                i{
                    padding-left: 1rem;
                }
            }

            .filter-button:hover{
                background: $orangeBtnHover;
            }

            .add-button{
                background-color: $blueBtns;
                color: $iconColor;
                width: 7rem;
                border-radius: 1rem; 
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
                margin-left: 4rem;
                height: 1.5rem;
                border: none;

                @media (max-width: 700px){
                    width: 5rem;
                  }
            }

            .add-button:hover{
                background: $orangeBtnHover;
            }
        }
    }

    .table-container {
        overflow: hidden;
        border-radius: 1rem;
        transition: background-color 0.3s ease;

        table {
            border-collapse: collapse;
            width: 100%;

            th, td {
                padding: 1rem;
                text-align: left;

                i {
                    padding: 0.5rem;
                }
            }

            tbody {
                transition: background-color 0.3s ease;

                tr{
                    margin-top: 1rem;
                    border-radius: 1rem;
                }
                
                &:hover {
                    background-color: $blueBtns;
                }
            }
        }
    }

    .pagination{
        margin-top: 2rem;
        text-align: center;
        color: $blueBtns;
    }
  }