@import "../../../styles";

.card-commande {
    margin: 20px;
    background: $mainColor;
    color: $iconColor;
    border-radius: 1rem;
    width: 80%;
    margin: 0 auto;
    padding: 1.5rem;
    box-shadow: rgba($boxShadow, 0.17) 0px -23px 25px 0px inset, rgba($boxShadow, 0.15) 0px -36px 30px 0px inset, rgba($boxShadow, 0.1) 0px -79px 40px 0px inset, rgba($boxShadow, 0.06) 0px 2px 1px, rgba($boxShadow, 0.09) 0px 4px 2px, rgba($boxShadow, 0.09) 0px 8px 4px, rgba($boxShadow, 0.09) 0px 16px 8px, rgba($boxShadow, 0.09) 0px 32px 16px;
    
    .head-commande{
        display: flex;
        justify-content: space-between;
        padding: 1rem;

        @media (max-width: 500px){
            display: flex;
            flex-direction: column;
            gap: 30px;
          }

        .button{
            @media (max-width: 890px){
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                gap: 10px;
              }
           
            .filter-button{
                background-color: $blueBtns;
                color: $iconColor;
                width: 7rem;
                border-radius: 1rem; 
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
                height: 1.5rem;
                border: none;
                text-align: center;

                @media (max-width: 700px){
                    width: 5rem;
                  }

                i{
                    padding-left: 1rem;
                }
            }

            .filter-button:hover{
                background: $orangeBtnHover;
            }

            .add-button{
                background-color: $blueBtns;
                color: $iconColor;
                width: 7rem;
                border-radius: 1rem; 
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
                margin-left: 4rem;
                height: 1.5rem;
                border: none;

                @media (max-width: 700px){
                    width: 5rem;
                  }
            }

            .add-button:hover{
                background: $orangeBtnHover;
            }
        }
    }

    .data-table{
        margin: 0 auto 2rem;
        width: 90%;

        table{
          width: 100%;
          text-align: center;
          cursor: default;

          thead, tbody{
            th {
              padding: 1rem 0;
              text-transform: capitalize;
              font-size: 20px;
            }

            .evo-content {
              &:hover {
                background: $blueBtns;

                td:first-child{
                  border-top-left-radius: 22px;
                  border-bottom-left-radius: 22px;
                }
                .actions{
                  border-top-right-radius: 22px;
                  border-bottom-right-radius: 22px;
                }
              }

              td {
                padding: .5rem;
                font-size: 17px;
              }
            }
            .actions{
              .modifs{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2rem;
                width: 100%;
                & i{
                  cursor: pointer;
                  padding: .5rem 0;
                  transition: all .5s;

                  &:hover {
                    color: $changeBlueMainColor;
                  }
                }
              }
            }
          }
        }
      }

@media screen and (max-width: 800px){
#evolution{
  .bubble{
    .overall{
      .data-table{
        overflow-x: scroll;
        table{
          th, td{
            border: 1px solid grey;
          }
          .actions{
            padding: 2rem 0;
          }
        }
      }
    }
  }
}
}

    .pagination{
        margin-top: 2rem;
        text-align: center;
        color: $blueBtns;
    }
  }