<div class="card-commande">

    <div class="head-commande">
        <div class="titre">
            <h2>Titre</h2>
            <h4>Sous Titre</h4>
        </div>
        <div class="button">
          
              <select id="status" name="filtrer" required class="filter-button">
                <option value="active">Filtrer</option>
                <option value="inactive">SAV</option>
                <option value="inactive">Commerciaux</option>
                <option value="inactive">DG</option>
              </select>
              <!--add -->
            <button class="add-button" [routerLink]="'/dashboard/employes/add'">Ajouter</button> 
        </div>
    </div>

    <div class="table-container">
        <table>
            <thead>
              <div class="titre-info">
                <tr>
                  <th>Numéro de commande</th>
                  <th>Date</th>
                  <th>Paiement</th>
                  <th>Adresse</th>
                  <th>Code postal</th>
                  <th>Ville</th>
                  <th>ID du client</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </div>
            </thead>
            <tbody>
              <div class="infos">
                <tr>
                  <td>12</td>
                  <td>15/02/23</td>
                  <td>CB</td>
                  <td>3 Rue Pierre Corneille</td>
                  <td>76000</td>
                  <td>Rouen</td>
                  <td>1546841</td>
                  <td>livré</td>
                  <td>
                    <div class="icons">
                      <!-- edit-->
                      <i class="fa-solid fa-pen" [routerLink]="'/dashboard/employes/edit'"></i>
                      <!-- supprimer -->
                      <i class="fa-solid fa-trash"></i>
                    </div>
                  </td>
                </tr>
              </div>
        </table> 
    </div> 
    
    <div class="pagination">
        <p>Future Pagination</p>
    </div>
    
</div>

