<div class="card-commande">

    <div class="head-commande">
        <div class="titre">
            <h2>Titre</h2>
            <h4>Sous Titre</h4>
        </div>
        <div class="button">
          
              <select id="status" name="filtrer" required class="filter-button">
                <option value="active">Filtrer</option>
                <option value="inactive">SAV</option>
                <option value="inactive">Commerciaux</option>
                <option value="inactive">DG</option>
              </select>
              <!--add -->
            <button class="add-button" [routerLink]="'/dashboard/employes/add'">Ajouter</button> 
        </div>
    </div>

    <div class="data-table">
      <table>
        <thead>
        <tr>
          <th *ngFor="let header of tableHeaders">{{ header }}</th>
          <th colspan="2">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of tableRows" class="evo-content">
          <td *ngFor="let cell of row">
            {{ cell }}
          </td>

          <td class="actions">
            <div class="modifs">
              <i class="{{modifIcon}}" [routerLink]="'/dashboard/employes/edit'"></i>
              <i class="{{deleteIcon}}"></i>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    
    <div class="pagination">
        <p>Future Pagination</p>
    </div>
    
</div>

