<div class="sidebar">

  <div class="lock"><span (click)="lockEvent()"><i class="{{lockIcon}}"></i></span></div>

  <div class="sidebar-wrap">

    <div class="logo">
      <a [routerLink]="'/dashboard'">
        <img src="assets/img/white_logo.svg" alt="logo">
      </a>
    </div>

    <div class="ligne"></div>

    <div id="icons">
      <div class="icon">

        <div class="flex">
          <div class="espace-icon">
            <app-button-link-sidebar [icon]="'fa-solid fa-user-tie'" [link]="'/dashboard/employes/list'"></app-button-link-sidebar>
          </div>
          <div class="espace-texte">
            <p [ngClass]="{ 'hide': !isSidebarOpen, 'icon-title': isSidebarOpen }">Employés <i class="fa-solid fa-chevron-down"></i></p>
          </div>
        </div>

        <div class="flex">
          <div class="espace-icon">
            <app-button-link-sidebar [icon]="'fa-solid fa-building'" [link]="'/dashboard/entreprises/list'"></app-button-link-sidebar>
          </div>
          <div class="espace-texte">
            <p [ngClass]="{ 'hide': !isSidebarOpen, 'icon-title': isSidebarOpen }">entreprises<i class="fa-solid fa-chevron-down"></i></p>
          </div>
        </div>

        <div class="flex">
          <div class="espace-icon">
            <app-button-link-sidebar [icon]="'fa-solid fa-user'" [link]="'/dashboard/clients/list'"></app-button-link-sidebar>
          </div>
          <div class="espace-texte">
            <p [ngClass]="{ 'hide': !isSidebarOpen, 'icon-title': isSidebarOpen }">Clients<i class="fa-solid fa-chevron-down"></i></p>
          </div>
        </div>

        <div class="flex">
          <div class="espace-icon">
            <app-button-link-sidebar [icon]="'fa-solid fa-cart-shopping'" [link]="'/dashboard/commandes/list'"></app-button-link-sidebar>
          </div>
          <div class="espace-texte">
            <p [ngClass]="{ 'hide': !isSidebarOpen, 'icon-title': isSidebarOpen }">Commandes<i class="fa-solid fa-chevron-down"></i></p>
          </div>
        </div>

        <div class="flex">
          <div class="espace-icon">
            <app-button-link-sidebar [icon]="'fa-solid fa-city'" [link]="'/dashboard/societe/list'"></app-button-link-sidebar>
          </div>
          <div class="espace-texte">
            <p [ngClass]="{ 'hide': !isSidebarOpen, 'icon-title': isSidebarOpen }">Sociétés<i class="fa-solid fa-chevron-down"></i></p>
          </div>
        </div>
        
      </div>
    </div>
    
    <div class="ligne"></div>
    
    <div class="user-section">
      <!-- photo user selon la BDD -->
      <div class="user-wrap">
        <div class="logo user-logo">
            <div class="user-photo"></div>
            <div class="online-status" [class.online]="isUserOnline" [class.offline]="!isUserOnline"></div>
        </div>
        <p>En ligne</p>
      </div>
      
      <!-- User et status selon la BDD -->
      <div class="user">
          <h3>Lendodo le musclé</h3> 
      </div>
    
      <div class="infoflex">
        <div class="iconLogout">
          <app-button-link-sidebar [icon]="'fa-solid fa-right-from-bracket'" [link]="'/'"></app-button-link-sidebar>
        </div>
        <p [ngClass]="{ 'hide': !isSidebarOpen, 'icon-title': isSidebarOpen }">Se déconnecter</p>
      </div>
    </div>

  </div>
  
</div>


