<div class="lock"><span (click)="lockEvent()"><i class="{{lockIcon}}"></i></span></div>

<div id="icons">
  <app-button-link-sidebar [icon]="'fa-solid fa-user-tie'" [link]="'dashboard/employes/list'" ></app-button-link-sidebar>
  <app-button-link-sidebar [icon]="'fa-solid fa-building'" [link]="'/entreprises/list'"></app-button-link-sidebar>
  <app-button-link-sidebar [icon]="'fa-solid fa-user'" [link]="'/clients/list'"></app-button-link-sidebar>
  <app-button-link-sidebar [icon]="'fa-solid fa-cart-shopping'" [link]="'/commandes/list'"></app-button-link-sidebar>
  <app-button-link-sidebar [icon]="'fa-solid fa-city'" [link]="'/societe/list'"></app-button-link-sidebar>
</div>
