<section id="commande-view">
  <div class="dash-wrap">
    <div class="commande-infos">
      <app-bubble-all-infos>
        <div class="main-infos-content">
          <h2>{{ commandeName }}</h2>
        </div>

        <div class="infos1-content">
          <h3>{{firstPartAdress}}</h3>
        </div>

        <div class="infos2-content">
          <span>{{secondPartAdress}}</span>
        </div>

        <div class="infos3-content">
          <div class="content-wrap">
            <span>{{commandePrice}}</span>
            <span>{{clientName}}</span>
          </div>
        </div>

        <div class="infos4-content">
          <span>{{commandeNumero}}</span>
        </div>

        <div class="infos-complement1-content">
          <span>{{commandeStatus}}</span>
        </div>
      </app-bubble-all-infos>
    </div>

    <div class="dash-multiple-infos">
      <div class="dash-chart">
        <app-bubble-charts></app-bubble-charts>
      </div>

      <div class="dash-infos-utiles">
        <app-bubble-infos-utile></app-bubble-infos-utile>
      </div>
    </div>

    <div class="dash-evolution">
      <app-bubble-evolution-stats></app-bubble-evolution-stats>
    </div>
  </div>
</section>
