@import "../../../styles";


.container {
    background-color: $mainColor;
    color: $iconColor;
    padding: 20px;
    border-radius: 10px;
    max-width: 55rem;
    width: 100%;
    margin: 0 auto;
  
    form {
      margin-top: 0;
      
      .name{
        display: flex;
        
      }
      
      .info{
        display: flex;
      }
      
      .input-group {
        position: relative;
        margin-bottom: 15px;

        .icon-container {
          position: absolute;
          top: 50;
          left: 0;
          padding: 10px;
        }

        ::placeholder{
            color: $iconColor;
            font-style: italic;
        }
    
        input,
        select {
          width: 100%;
          padding: 10px;
          box-sizing: border-box;
          background-color: $violetDashboardInput;
          color: $iconColor;
          border: none;
          border-radius: 5px;
          margin-top: 5px;
          
          height: 40px;
          border-radius: 1rem; 
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
          padding: 0 2rem;
          display: flex;
          margin-bottom: 25px;
        }
      }
    
      .submit-button {
        background-color: $blueBtns;
        color: $iconColor;
        padding: 7px 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    
        &:hover {
          background-color: $orangeBtnHover;
        }
      }
    }
  
    p {
      margin-top: 15px;
      font-size: 14px;
      text-align: center;

      &:hover{
        text-decoration: underline;
      }
    }


}