<div class="card-commande">

    <div class="head-commande">
        <div class="titre">
            <h2>Titre</h2>
            <h4>Sous Titre</h4>
        </div>
        <div class="button">
            <button class="filter-button">Filtrer<i class="fa-solid fa-chevron-down"></i></button>
            <button class="add-button">Ajouter</button>
        </div>
    </div>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                  <th>Numéro de commande</th>
                  <th>Date</th>
                  <th>Paiement</th>
                  <th>Adresse</th>
                  <th>Code postal</th>
                  <th>Ville</th>
                  <th>ID du client</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <td>12</td>
                  <td>15/02/23</td>
                  <td>CB</td>
                  <td>3 Rue Pierre Corneille</td>
                  <td>76000</td>
                  <td>Rouen</td>
                  <td>1546841</td>
                  <td>livré</td>
                  <td>
                    <i class="fa-solid fa-pen"></i>
                    <i class="fa-solid fa-trash"></i>
                  </td>
                </tr>
            </tbody>
        </table> 
    </div> 
    
    <div class="pagination">
        <p>Future Pagination</p>
    </div>
</div>

<!-- <td>{{ commande.numero }}</td>
<td>{{ commande.date | date:'medium' }}</td>
<td>{{ commande.payement | currency:'EUR' }}</td>
<td>{{ commande.adresse }}</td>
<td>{{ commande.code_postal }}</td>
<td>{{ commande.ville }}</td>
<td>{{ commande.Client_idClient }}</td>
<td>{{ commande.status }}</td> -->