<section id="employe-view">
  <div class="dash-wrap">
    <div class="employe-infos">
      <app-bubble-infos-employe></app-bubble-infos-employe>
    </div>

    <div class="dash-multiple-infos">
      <div class="dash-chart">
        <app-bubble-charts></app-bubble-charts>
      </div>

      <div class="dash-infos-utiles">
        <app-bubble-infos-utile></app-bubble-infos-utile>
      </div>
    </div>

    <div class="dash-evolution">
      <app-bubble-evolution-stats></app-bubble-evolution-stats>
    </div>
  </div>
</section>
