<section id="home-intro">
  <div class="home-wrap">
    <div class="home-info">
      <div class="logo">
        <img src="./assets/img/white_logo.svg" alt="logo blanc watch_me">
      </div>

      <div class="connexion">
        <button *ngIf="!isAuthenticated()" class="home-btn" [routerLink]="'/auth/connexion/form'">Se connecter</button>
        <button *ngIf="isAuthenticated()" class="home-btn" [routerLink]="'/dashboard'">Dashboard</button>
      </div>
    </div>

    <div class="home-presentation">
      <div class="home-bulle-one">
        <div class="home-bulle-pres">
          <h2>Watch Me</h2>
          <p>Le monde des affaires évolue rapidement, et pour réussir, il est essentiel de rester en avance sur la concurrence. C'est là que Watch Me entre en jeu. Watch Me est bien plus qu'un simple logiciel de gestion de la relation client (CRM). C'est une plateforme complète conçue pour vous aider à maximiser votre efficacité, à fidéliser vos clients et à développer votre entreprise.</p>
        </div>
      </div>

      <div class="plus-infos">
        <button class="home-btn" (click)="goToInfos('home-solution')">En savoir plus</button>
      </div>
    </div>
  </div>
</section>

<section id="home-solution">
  <div class="home-wrap">
    <div class="titreEtDeco">
      <div class="before-deco-wrap">
        <div class="decoLine before1"></div>
        <div class="decoLine before2"></div>
        <div class="decoLine before3"></div>
        <div class="decoLine before4"></div>
      </div>

      <div class="soluce-title">
        <h2>Votre Solution CRM</h2>
      </div>

      <div class="after-deco-wrap">
        <div class="decoLine after1"></div>
        <div class="decoLine after2"></div>
        <div class="decoLine after3"></div>
        <div class="decoLine after4"></div>
      </div>
    </div>

    <div class="bulles-soluce-wrap">
      <div class="img-soluces"></div>

      <div class="soluce-text">
        <ul>
          <li>Une vue d'ensemble complète</li>
          <li>Automatisation des tâches</li>
          <li>Analyses de données et rapports poussés</li>
          <li>Gestion de projets intégré</li>
          <li>Personnalisation sans limite</li>
          <li>Sécurité et conformité RGPD</li>
          <li>Support client exceptionnel</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="home-slogan">
  <div class="home-wrap">
    <div class="slogan-wrap">
      <p class="slogan">"Le temps est une ressource non renouvelable, investissez-le judicieusement"</p>
    </div>
  </div>
</section>

<section id="home-footer">
  <div class="home-wrap">
    <div class="footer-wrap">
      <div class="logo">
        <img src="./assets/img/white_logo.svg" alt="logo blanc watch_me">
      </div>

      <p class="copyright"><a [routerLink]="'/page'">Copyright</a>  &copy; 2023. Need For School. Rouen</p>
    </div>
  </div>
</section>
