@import "../../styles.scss";

#home-intro{
  min-height: 100vh;
  height: 100%;
  background: url("../../assets/img/img_bg_home_1.png") center/cover no-repeat;

  .home-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 146px;

    .logo{
      width: 118px;
      height: 120px;
    }
  }

  .home-btn{
    width: 271px;
    height: 42px;
    background: $blueBtns;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    font-family: $fontBtns;
    font-size: $sizeBtnTxt;
    color: $iconColor;
    cursor: pointer;
    transition: background .5s;

    &:hover{
      background: $orangeBtnHover;
    }
  }

  .home-presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;

    .home-bulle-pres{
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      width: 687px;
      margin: 112px 0 0 135px;
      padding: 1rem;
      border: 1px solid black;
      color: $iconColor;
      border-radius: 20px;
      background: $bgFrameHome;

      h2{
        font-family: $fontTitre;
        font-size: $sizeTitre;
        font-weight: $weightNormal;
      }

      h3{
        font-family: $fontSousTitre;
        font-size: $sizeSousTitre;
        font-weight: $weightNormal;
      }

      p{
        font-family: $fontTxt;
        font-size: $sizeTxt;
        font-weight: $weightNormal;
      }
    }

    .plus-infos{
      margin-left: 135px;
    }
  }
}
