<section id="home-intro">
  <div class="home-info">
    <div class="logo"><img src="./assets/img/white_logo.svg" alt="logo blanc watch_me"></div>
    <a href=""><button class="home-btn connexion">Se connecter</button></a>
  </div>

  <div class="home-presentation">
    <div class="home-bulle-pres">
      <h2>CRM</h2>
      <h3>Watch Me</h3>

      <p>Le monde des affaires évolue rapidement, et pour réussir, il est essentiel de rester en avance sur la concurrence. C'est là que Watch Me entre en jeu. Watch Me est bien plus qu'un simple logiciel de gestion de la relation client (CRM); c'est une plateforme complète conçue pour vous aider à maximiser votre efficacité, à fidéliser vos clients et à développer votre entreprise.</p>
    </div>

    <a href=""><button class="home-btn plus-infos">En savoir plus</button></a>
  </div>
</section>
