@import "../../styles.scss";

section{
  position: relative;
}

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 126px;
  z-index: 2;
  background: $mainColor;
  transition: all 0.5s;
}

#routing{
  margin-left: 126px;
  background: url("../../assets/img/img_bg_home_1.svg") center/cover no-repeat;
  min-height: 100vh;
  height: 100%;

}
