@import "../../../styles";

#evolution{
  color: $iconColor;
  margin-bottom: 2rem;
  .bubble{
    border-radius: 22px;
    background: $bgBubbles;
    box-shadow: $boxShadowBubbles;

    &.huge{
      display: flex;
      justify-content: center;
      align-items: center;

      .overall{
        border-radius: 22px;
        height: 100%;
        width: 100%;

        .evolution-head{
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 2rem 2.7rem;
          cursor: default;

          .evo-head-container{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            .evo-title{
              font-family: $fontTitre;
              font-size: $sizeTitre;
            }

            .evo-subtitle{
              font-family: $fontSousTitre;
              font-size: $sizeSousTitre;
            }
          }


          .buttons{
            display: flex;
            gap: 71px;

            .filter-infos{
              display: flex;
              align-items: center;
              background: $blueBtns;
              padding: 0 1rem;
              border-radius: 22px;

              select{
                background: $blueBtns;
                color: $iconColor;
                border: none;
                font-size: 20px;
                outline: none;
              }
            }
          }
        }

        .data-table{
          margin: 0 auto 2rem;
          width: 90%;

          table{
            width: 100%;
            text-align: center;

            thead, tbody{
              th {
                padding: 1rem 0;
                text-transform: capitalize;
                font-size: 20px;
              }

              .evo-content {
                &:hover:not(.actions) {
                  background: $blueBtns;
                }

                td {
                  padding: .5rem;
                  font-size: 17px;
                }
              }
              .actions{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2rem;

                & i{
                  cursor: pointer;
                  padding: .5rem 0;
                  transition: all .5s;

                  &:hover {
                    color: $blueBtns;
                  }
                }
              }

            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px){
  #evolution{
    .bubble{
      .overall{
        .evolution-head{
          flex-direction: column-reverse;
          gap: 2rem;
        }

        .data-table{
          overflow-x: scroll;
          table{
            th, td{
              border: 1px solid grey;
            }
            .actions{
              padding: 2rem 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px){
  .evo-subtitle{
    h3{
      text-align: center;
    }
  }
}
