@import "../../../styles";

#evolution{
  color: $iconColor;
  margin-bottom: 2rem;
  .bubble{
    border: 1px solid black;
    border-radius: 22px;
    background: $bgBubbles;

    &.huge{
      //width: 1129px; // 740px
      //min-height: 29rem; // 464px;
      display: flex;
      justify-content: center;
      align-items: center;

      .overall{
        border-radius: 22px;
        height: 100%;
        width: 100%;

        .evolution-head{
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 2rem 2.7rem;
          cursor: default;

          .evo-head-container{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            .evo-title{
              font-family: $fontTitre;
              font-size: $sizeTitre;
            }

            .evo-subtitle{
              font-family: $fontSousTitre;
              font-size: $sizeSousTitre;
            }
          }


          .buttons{
            display: flex;
            gap: 71px;

            .filter-infos{
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 1rem;
              position: relative;

              .filter-btn{
                width: fit-content;
                height: fit-content;
                border-radius: 22px;
                display: flex;
                align-items: center;
                gap: 3.25rem;
                background: $blueBtns;
                font-size: 15px;
                padding: 0 1rem;
                cursor: pointer;
              }

              .open{
                width: fit-content;
                height: fit-content;
                display: flex;
                align-items: center;
                gap: 3.25rem;
                background: $blueBtns;
                font-size: 15px;
                padding: 0 1rem;
                cursor: pointer;
                border-radius: 15px 15px 0 0;
              }

              .filter-more{
                font-size: 20px;
              }

              .filter-menu {
                position: absolute;
                top: 100%;
                left: 0;
                display: flex;
                flex-direction: column;
                padding: .5rem 0;
                gap: 1rem;
                background: $blueBtns;
                width: 100%;
                text-align: center;
                border-bottom-left-radius: 22px;
                border-bottom-right-radius: 22px;
                transition: all 1s;
              }
            }
            .add-btn {
              cursor: pointer;
              font-size: 20px;
            }
          }
        }

        .data-table{
          margin: 0 auto 2rem;
          width: 90%;
          display: flex;
          justify-content: center;
          align-items: center;

          table{
            width: 100%;
            text-align: center;
            padding-right: 6rem;

            th{
              padding: 1rem 0;
              text-transform: capitalize;
              width: fit-content;
              font-size: 20px;
            }
            td{
              padding: .5rem;
              width: fit-content;
              font-size: 17px;
            }
            .actions{
              width: 1%;
              cursor: pointer;
              transition: all .5s;

              &:hover{
                color: $blueBtns;
              }
            }
          }
        }
      }
    }
  }
}
